@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif !important;
}

.card {
  padding: 0.8rem 0.8rem 0 0.8rem;
  border-radius: 20px !important;
}

span {
  font-weight: 900 !important;
}

.heading {
  width: 58%;
}

.row {
  margin: 0 40px !important;
}

.icon-content {
  background-color: #2a2a2a;
  width: 55px;
  padding: 7px;
  border-radius: 12px;
}

.cms {
  display: block;
  font-weight: 500 !important;
}

.heading-title {
  font-size: 44px;
}

.heading-subhead {
  font-size: 18px;
}

.card-title {
  font-size: 22px;
  line-height: 28px;
}

.card-text {
  font-size: 14px;
  line-height: 24px;
}

@media only screen and (max-width: 992px) {
  .heading {
    width: 100%;
  }

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px !important;
  }

  .icon-content {
    margin-right: 28px;
  }

  .cms {
    display: inline;
  }

  .row {
    margin: 0 !important;
  }

  .heading-title {
    font-size: 35px;
  }

  .heading-subhead {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .heading {
    width: 100%;
  }

  .cms {
    display: inline;
  }
}
