<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-button mode="md" (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeXl="4" sizeLg="6">
        <h1 class="ion-no-margin"><strong>Edit Email</strong></h1>
      </ion-col>
    </ion-row>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeXl="4" sizeLg="6">
          <ion-item
            mode="ios"
            class="ion-no-padding auth-inputs"
            [class.invalid]="!f.email.valid && (f.email.touched || f.email.dirty || isSubmitted)"
          >
            <ion-label position="floating">Email</ion-label>
            <ion-input email formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
            </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!f.email.valid && (f.email.dirty || isSubmitted)">
            <small>Please enter a valid email.</small>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
        <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeXl="4" sizeLg="6">
          <ion-button mode="ios" color="danger" fill="outline" shape="round" expand="block" type="submit"
            >Save
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
        <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeXl="4" sizeLg="6">
          <ion-button mode="ios" color="medium" fill="outline" shape="round" expand="block" (click)="back()"
            >Cancel
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
