.lesson-details-page {
  ion-spinner {
    display: block;
    margin: 0 auto;
    height: 275px;
  }
  #highlight-save-lesson-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px 6px 0px 6px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
    ion-icon {
      font-size: 25px;
    }
  }

  .youtube-handler {
    padding-top: 10px;
    background: #efefef;
    padding-bottom: 4px;
    ion-icon {
      font-size: 35px;
      // padding: 5px 5px 5px 5.5px;
      // border-radius: 25px;
      // background: #efefef;
      // border: 2px solid #000;
    }
  }
  ion-footer {
    ion-row {
      ion-col {
        margin-bottom: 7px;
      }
    }
  }

  //////

  // ion-slides {
  //   --bullet-background: #f5833d;
  //   --bullet-background-active: #e22d2d;
  //   overflow-y: scroll;
  // }
  .lesson-heading {
    color: #aca7a7;
  }

  #highlight-save-lesson-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 7px 6px 0px 6px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
    &.save-loading {
      background: #f8f8f8;
      padding: 6px;
    }
    ion-spinner {
      width: 25px;
      height: 25px;
    }
    ion-icon {
      font-size: 25px;
    }
  }

  .player-wrapper {
    background-color: #000;
    position: relative;
    // padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    .player-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 200;
      display: flex;
      justify-content: center;
      align-items: center;
      .play-btn {
        position: relative;
        overflow: hidden;
        // background-color: #822;
        border-radius: 10px;
        width: 95%;
        height: 60%;
      }
    }
    .react-player {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .youtube-handler {
    padding-top: 10px;
    background: #efefef;
    padding-bottom: 4px;
    ion-icon {
      font-size: 35px;
      // padding: 5px 5px 5px 5.5px;
      // border-radius: 25px;
      // background: #efefef;
      // border: 2px solid #000;
    }
  }
  .display-block {
    display: block;
  }
}
