label.profile-image {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 0.375rem 0.9rem;
  font-size: 1rem;
  line-height: 2.1;
  text-align: center;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #969696;
  border-radius: 25px;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
input[type='file'] {
  display: none;
}
