<ion-content>
  <ion-grid class="ion-padding h-100">
    <ion-row class="h-100 auth-form ion-align-items-center">
      <ion-col class="ion-align-self-center">
        <ion-row class="ion-justify-content-center">
          <!-- <ion-col sizeXs="4" sizeSm="4" sizeLg="2" sizeXl="1" sizeMd="2" class="ion-align-self-center ion-padding">
            <img src="/assets/images/logo.png">
          </ion-col> -->
          <ion-col size-xs="8" size-sm="8" size-lg="4" size-md="4" size-xl="2" class="ion-align-self-center">
            <img src="../../assets/images/Speaky-Peaky-Logo.png" />
          </ion-col>
        </ion-row>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" sizeXs="12" sizeSm="12" sizeLg="5" sizeXl="4" sizeMd="6">
              <ion-row>
                <ion-col size="12">
                  <ion-item mode="ios" class="ion-no-padding auth-inputs"
                    [class.invalid]="!f.email.valid && (f.email.dirty || isSubmitted)">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input #emailInput autofocus='true' email (ionBlur)="trimEmail($event)" formControlName="email"
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                    </ion-input>
                  </ion-item>
                  <ion-text color="danger" *ngIf="!f.email.valid && (f.email.dirty || isSubmitted)">
                    <small>Please enter a valid email.</small>
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item mode="ios" class="ion-no-padding auth-inputs"
                    [class.invalid]="!f.password.valid && (f.password.dirty || isSubmitted)">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input [type]="!showPass ? 'password' : 'text'" formControlName="password" required>
                    </ion-input>
                    <ion-icon class="pwd-btn" *ngIf="showPass === false; else viewPassword" slot="end" name="eye-off"
                      (click)="showPassword()"></ion-icon>
                    <ng-template #viewPassword>
                      <ion-icon class="pwd-btn" slot="end" name="eye" (click)="showPassword()"></ion-icon>
                    </ng-template>
                  </ion-item>
                  <ion-text color="danger" *ngIf="!f.password.valid && (f.password.dirty || isSubmitted)">
                    <small>Please enter a password.</small>
                  </ion-text>
                  <p>
                    <a class="ion-text-right c-orange" [routerLink]="['/forgot-password']"
                      routerLinkActive="router-link-active">Forgot Password?</a>
                  </p>
                </ion-col>
              </ion-row>
              <ion-row class="ion-margin-top">
                <ion-col size="12">
                  <ion-button mode="ios" color="danger" shape="round" expand="block" type="button"
                    (click)="handleSubmit()">
                    <strong>SIGN IN</strong>
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <p class="ion-text-center ion-no-margin">
                    Don’t have an account?
                    <a class="c-orange" [routerLink]="['/sign-up']" routerLinkActive="router-link-active">
                      Sign up
                    </a>
                    here.
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>