ion-toggle {
  --background-checked: var(--color-orange);
}
a,
img {
  display: block;
}
img {
  margin: 0 auto;
}
h4 {
  font-weight: 400;
}
.on-boarding-text {
  line-height: 1.4;
  font-weight: 600;
  font-size: 20px;
}
