<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-button mode="md" (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button mode="md" (click)="home()">
        <ion-icon color="dark" mode="md" slot="icon-only" src="../../../../../../assets/images/home.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center" *ngIf="subTitleLanguages.length">
      <ion-col size="12" class="ion-align-self-center">
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeLg="6" sizeXl="4" class="ion-align-self-center">
            <h1 class="ion-no-margin"><strong>Language for Subtitles</strong></h1>
            <p class="ion-margin-bottom">Choose your language for translation</p>
          </ion-col>
        </ion-row>
        <ion-radio-group [value]="selectedLanguage?._id">
          <ion-row class="ion-align-items-center ion-justify-content-center" *ngFor="let language of subTitleLanguages">
            <ion-col sizeXs="12" sizeSm="12" sizeMd="7" sizeLg="6" sizeXl="4" class="ion-align-self-center">
              <ion-card class="ion-no-margin" mode="ios" (click)="selectLanguage(language)">
                <ion-card-content>
                  <ion-item lines="none">
                    <ion-label>{{ language.languageName }}</ion-label>
                    <ion-radio color="danger" mode="md" slot="start" [value]="language._id"> </ion-radio>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
