.lessons-page {
  .logo {
    display: block;
    margin: 0 auto;
  }
  .todaysLessonsHeading {
    font-weight: 600;
    font-size: 22px;
  }
  .today-lesson {
    margin-top: 2px;
    margin-bottom: 8px;
  }

  ion-thumbnail {
    width: 95%;
    height: 145px;
    --border-radius: 10px;
  }
  .video-title {
    line-height: 1.3em;
    font-weight: 400;
    height: 2.5em;
    // min-height: 2.5em;
    overflow: hidden;
  }

  .lessons-horizontal {
    margin: 8px auto;
    padding-bottom: 2px;
  }

  ul {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll !important;
    margin-block-end: 0px;
    padding-bottom: 14px;
    li {
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      list-style-type: none;
      display: inline-block;
      margin-right: 14px;
      width: 200px;
      h5 {
        margin: 7px 0px 0px;
      }
    }
  }
  hr {
    background: #d8d8d8;
    margin: 0px 15px;
  }
  ion-list {
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      ion-thumbnail {
        width: 150px;
        height: 100px;
        --border-radius: 10px;
      }
      h2.ion-text-wrap {
        line-height: 1.35em;
        max-height: 2.7em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      ion-icon {
        margin-inline-start: 10px;
      }
    }
  }
  .video-category-label {
    margin: 5px 0px 0px 0px;
    font-size: 14.5px;
  }
  ion-button.btn-share-now {
    --background: white;
    --color: #e22d2d;
    --border-color: #f51515;
    --border-width: 1px;
    --border-style: solid;
    --background-activated: #f5eeee;
    --background-hover: #f5eeee;
    margin: 0 24px;
  }

  @media only screen and (max-width: 414px) {
    ion-thumbnail {
      height: 130px;
    }

    ion-list {
      ion-item {
        ion-thumbnail {
          width: 120px;
          height: 90px;
        }
      }
    }

    ul {
      li {
        width: 180px;
      }
    }
  }
}
