.course {
  padding: 15px 0px;
  border-bottom: 1px solid #c6c6c6;
  ion-thumbnail {
    width: 147px;
    height: 120px;
    --border-radius: 10px;
    // margin: 0 auto;
  }
  h2.ion-text-wrap {
    font-weight: 600;
    margin-right: 5px;
  }
  h2.ion-text-wrap,
  #tags {
    line-height: 1.4em;
    max-height: 2.7em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #tags {
    font-size: 14px;
    display: block;
  }
  #scenes-count {
    margin: 5px 0px;
  }
  #collapsible-icons {
    font-size: 25px;
  }
  .search-course-item {
    margin: 0px 10px;
  }
  .sub-lessons {
    margin: 0px;
    padding: 15px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #efefef;
  }
  p.sub-lessons:last-child {
    border-bottom: none;
  }
  .expand-wrapper {
    max-height: 30em;
    overflow: auto;
    transition: max-height 0.5s, overflow 0.5s 0.5s;
    margin: 0px 10px;
    .lesson-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .studied-date {
      font-size: 14px;
      text-align: right;
      color: #c6c6c6;
    }
  }
  .collapsed {
    // display: none !important;
    max-height: 0;
    /*and eventually delay an overflow:auto; */
    overflow: hidden;
    transition: max-height 0.5s, overflow 0s;
  }
}
@media only screen and (max-width: 414px) {
  .course {
    ion-thumbnail {
      margin: 0 auto;
      width: 135px;
      height: 110px;
    }
  }
}
